<header>
    <h2>{{ title }} <em>by</em> {{ author }}</h2>
</header>
<div class='post'>
  <div class='body'>
     {{{ body }}}
     {{#hello_world}}
       reader
     {{/hello_world}}

  </div>
</div>
