<html lang="en">
<head>
<meta charset="utf-8" />
<title>A title</title>
<head>
<style type="text/css">
{{{ style_sheet }}}
</style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="https://rawgithub.com/quirkey/sammy/master/lib/sammy.js"></script>
<script>
var data = {{{ json_data }}};
var rel_path = "{{{ relative_path }}}"

{{{ script }}}

</script>
</head>
<body>
<div id="main"></div>
</body>
</html>
