<!DOCTYPE html>
<html lang="en">
<head>
<meta charset=utf-8>
<title>{{ config.title }}</title>
<style type="text/css">
{% set theme = "static/css/" + config.theme %}
{% include theme %}
</style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="/static/js/underscore.js"></script>
<script>
{% autoescape off %}
var metadata = {{ meta_data }} ;
{% endautoescape %}
</script>
<script>
{% include "static/js/metadata_render.js" %}
</script>

</head>
<body>
<!-- Latest -->
<div class="header">
  <h4> {{ config.title }} </h4>
  <h5> {{ config.author }} </h5>
</div>
<div id="notes-meta">
</div>

{% for note in notes %}
<div data-id="#{{ note['_name'] }}" class="note" style="display:none">
{% autoescape off %}
{{ note['html'] }}
{% endautoescape %}
</div>
{% endfor %}
</body>
</html>
