<header>
    <h1><a href="{{ config.github_repo }}">{{ title }}</a></h1>
</header>
<nav>
    <ul>
        <li><a href="index.html">about</a></li>
        <li><a href="index.html#/page/introduction.md">introduction</a></li>
        <li><a href="#/blog">blog</a></li>
    </ul>
 </nav>

