<ul>
    <li><a href="#/page/abstract.md">Abstract</a></li>
    <li><a href="#/page/spec.md">Spec</a></li>
    <li><a href="#/page/tech.md">Tech</a></li>
    <li><a href="#/page/changelog.md">Change Log</a></li>
    <li><a href="#/blog">Blog</a></li>
    <li>
    <form id="search" action="#/search" method="post">
        <input type="text" name="query" />
        <input type="submit" value="Search" />
    </form>
    </li>
</ul>

